 html {
  font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background-image: url("http://i.imgur.com/VrkNcUp.png");*/
    background-repeat: no-repeat;
    }

#login{
  text-align: center;
}

#create_user_form{
  text-align: center;
}

#create_event_form{
  text-align: center;
}

h1 {
  text-align: center;
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
}

ol li {
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

ul li {
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

#start_event{
  text-align: center;
}

#groups li {
  text-align: left;
}

#groups {
  font-size: large;
}

#student_list{
  text-align: left;
}

#group_list{

}

ul {
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: large;

}

li {
  text-align: center;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;

}

input[type="radio"] {
  margin-left: 1em;
  margin-right: 1%;
}

.advanced {
  padding-right: 1em;
  background-color: green;
  display: inline;
}

.base {
  padding-left: 1em;
  background-color: green;
  display: inline;
}



  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

  }


 #logo {
   margin-left: auto;
   margin-right: auto;
   padding-top: 0px;
   width: 100%;
   position: absolute;
 }

.clearfix:after {
  visibility: hidden;
   display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }



.debug {border: 1px red solid;}
.form {display: none;}

.logo {
  background-image: url('../images/rostr_logo.png');
  height: 325px;
  width: 591px;
}

.debugx { border: solid 1px red; }

/*misc*/
.ta-cen {text-align: center;}
.ta-r {text-align: right;}
.bd-1 {border: 1px solid black;}
.uline {text-decoration: underline;}



/*dimensions*/
.w-100 {width: 100%;}
.w-5 {width: 5em; }
.w-10 {width: 10em; }
.w-15 {width: 15em; }
.w-20 {width: 20em; }

.h-100 {height: 100%;}
.h-2 {height: 2em;}
.h-3 {height: 3em;}
.h-5 {height: 5em;}
.h-10 {height: 10em;}
.h-15 {height: 15em;}
.h-20 {height: 20em;}
.h-30 {height: 30em;}
.h-33 {height: 33em;}
.h-35 {height: 35em;}
.h-40 {height: 40em;}
.h-45 {height: 45em;}
.h-50 {height: 50em;}



/*colors*/
.bg-blue { background-color: blue; }
.bg-red { background-color: red; }
.bg-orange {background-color: #F89406;}
.bg-gray {background-color: #6C7A89; }
.bg-silver {background-color: #BDC3C7; }
.bg-yellow {background-color: #F5AB35; }
.bg-green {background-color: #1BBC9B; }




/*margins*/
.m-2 {margin: 2em;}
.m-5 {margin: 5em;}


.ml-1 {margin-left: 1em;}
.ml-3 {margin-left: 3em;}
.ml-5 {margin-left: 5em;}
.ml-7 {margin-left: 7em;}
.ml-10 {margin-left: 10em;}

.mt--1 {margin-top: -1em;}
.mt--2 {margin-top: -2em;}
.mt--5 {margin-top: -5em;}
.mt--7 {margin-top: -7em;}
.mt--10 {margin-top: -10em;}

.mb-3 {margin-bottom: 3em; }

/*padding*/
.padl-5 {padding-left: 5em; }

.padt-3 {padding-top: 3em;}



/*specifics*/
.btn-g {
  color: #ffffff;
  font-size: 15px;
  background: #1BBC9B;
  height: 2em;
  width: 10em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border-style: none;
}

.btn {
  color: #ffffff;
  font-size: 15px;
  background: #22313F;
  height: 2em;
  width: 10em;
  padding: 1em 1em 2em 1em;
  text-decoration: none;
  border-style: none;
}

.btn:hover {
  background: #336E7B;
  text-decoration: none;
}

.debug {border: 1px red solid;}