  <div class="debug col span-6-d">
    <form id="create_event_form" action="/user/<%=current_user.id %>/create" method="post" class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <input type="text" name="title" placeholder="Event Title" class="w-20">
      </div>
      <div class="pure-control-group">
        <input type="textarea" name="description" placeholder="Event Description" class="h-5 w-20 pure-input-1-4">
      </div>
      <div class="pure-control-group">
        <input type="text" name="subject1" placeholder="Subject 1">
      </div>
      <div class="pure-control-group">
        <input type="text" name="subject2" placeholder="Subject 2">
      </div>
      <div class="pure-control-group">
        <input type="text" name="subject3" placeholder="Subject 3">
      </div>
      <div class="pure-control-group">
        <input type="text" name="subject4" placeholder="Subject 4">
      </div>
      <div class="pure-control-group">
        <input type="text" name="subject5" placeholder="Subject 5">
      </div>
      <input type="submit" value="Create Event">
    </form>
  </div>
</div>