<body style="background-color: #cdd2dd">
  <!-- create new user -->
<h1>Create a new user</h1>
<form id="create_user_form" action="/user" method="post">
<input type="text" name="username" placeholder="Username"> <br>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Create">

</form>
</body>
