
<!-- create new user -->
<div id="logo_small"> 
	<a href="http://imgur.com/IC0hEnt"><img src="http://i.imgur.com/IC0hEnt.png" title="source: imgur.com" /></a>
</div>
 <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'> 
<p>Create a new user</p>
<form id="create_user_form" action="/user" method="post">
<input type="text" name="username" placeholder="Username"> <br>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Create">

</form>
