<!-- create new user -->
<p>Create a new user</p>
<form id="create_user_form" action="/user" method="post">
<input type="text" name="username" placeholder="Username"> <br>
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Create">

</form>
