<!-- view for homepage -->
		<!-- <p>Login</p> -->

<% @show_nav = false %>

<div id="logo" class="ta-cen z-10">
	<img src="http://i.imgur.com/IC0hEnt.png">
	<p>
		Minions ipsum gelatooo bee do bee do bee do pepete.<br>
		Ti aamoo! Hahaha bee do bee do bee do tank
	</p>
</div>

<div class="col span-6-d h-50 bg-green ta-cen">
	<div class="col span-12-d h-25 bg-green"></div>
	<h2>Organizer</h2>
	<form action="/sessions" method="post" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<input type="text" name="username" placeholder="Username" class="ta-cen">
			</div>
			<div class="pure-control-group">
				<input type="password" name="password" placeholder="Password" class="ta-cen">
			</div>
			<div class="pure-control-group">
				<input type="submit" value="Login" class="pure-button pure-button-primary">
			</div>
		</fieldset>
	</form><br>

	<form action="/create">
		<p>Want to create an event?</p>
		<input type="submit" value="Sign Up" class="pure-button pure-button-primary">
	</form>
</div>

<div class="col span-6-d h-50 bg-greena">
	<div class="col span-12-d h-25 bg-greens"></div>
	<div class="ta-cen">
		<h2>Participant</h2>
		<form action="/events">
    		<input type="submit" value="Events" class="pure-button pure-button-primary">
		</form>
	</div>
</div>

<% if @errors %>
  <p><%=@errors[:login_error]%></p>
<% end %>



