<!-- view for homepage -->

<div id="logo">
  <a href="http://imgur.com/IC0hEnt"><img src="http://i.imgur.com/IC0hEnt.png"></a>
</div>

<div id="login">
<button class="pure-button"> <a href="/events">Events</a> </button>
<button class="pure-button"> <a href="/create">Create Organizer </a></button>

<!-- <p>Login</p> -->
<form action="/sessions" method="post">
<input type="text" name="username" placeholder="Username"> <br>
<input type="password" name="password" placeholder="Password"> <br>
<input type="submit" value="Login">
</form>
</div>


<% if @errors %>
  <p><%=@errors[:login_error]%></p>
<% end %>

