<!-- view for homepage -->

<h1> Roster </h1>

<button id="student_login"> <a href="/events">Students</a> </button>
<button id="create_user"> <a href="/create">Create Organizer </a></button>

<p>Login</p>
<form id="login_form" action="/sessions" method="post">
<input type="text" name="username" placeholder="Username"> <br>
<input type="password" name="password" placeholder="Password"> <br>
<input type="submit" value="Login">
</form>


<% if @errors %>
  <p><%=@errors[:login_error]%></p>
<% end %>
