<!-- organizer starts the event -->
<div id="logo_small"> 
	<a href="http://imgur.com/IC0hEnt"><img src="http://i.imgur.com/IC0hEnt.png" title="source: imgur.com" /></a>
</div>
<%= @event.title %> 
<div id="student_list">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
  <ol>
  <% @students.each do |student| %>
  <li><%= student.name  %></li>
  <% end %>
  </ol>
</div>

<form id="start_event "action="/user/<%=current_user.id %>/event/<%= @event.id %>" method="post">
<input type="submit" value="START EVENT">
</form>
