<!-- organizer starts the event -->
<!-- ajax the student auto updates -->
<h1><%= @event.title %> </h1>

<div id="student_list">
  <ol>
  <% @students.each do |student| %>
  <li><%= student.name  %></li>
  <% end %>
  </ol>
</div>

<form id="start_event"action="/user/<%=current_user.id %>/event/<%= @event.id %>/groups/create" method="post">
<input type="submit" value="Create Groups">
</form>

