<h1> <%= @group.name %> </h1>
  <ul>
  <% @group.students.each do |student| %>
    <li>
    <%= student.name %>
    </li>
  <% end %>
<h2> [GROUP-CHAT-BOX] </h2>
<section class="realtime-chat">
  <div class="span5" id="pusher_chat_widget"></div>
</section>
