<div id="logo_small"> 
	<a href="http://imgur.com/IC0hEnt"><img src="http://i.imgur.com/IC0hEnt.png" title="source: imgur.com" /></a>
</div>

<h1> <%= @group.name %> </h1>
  <ul>
  <% @group.students.each do |student| %>
    <li>
    <%= student.name %>
    </li>
  <% end %>
<h2> [GROUP-CHAT-BOX] </h2>
