<div class="container debug">


  <div class="debug col span-6-d">
    <h1>Events</h1>
    <% @active.each do |event| %>
      <ul>
        <li>
          <a href= "/events/<%=event.id%>" ><%= event.title %></a>
        </li>
      </ul>
    <% end %>
  </div>


  <div class="debug col span-3-d">
    <h1>Past Events</h1>
    <% @inactive.each do |event| %>
      <ul>
        <li>
          <a href= "/events/<%=event.id%>" ><%= event.title %></a>
        </li>
      </ul>
    <% end %>
  </div>


</div>
