<!-- students see these events -->
<% @events.each do |event| %>
  <% if event.active %>
    <a href= "/events/<%=event.id%>" ><%= event.title %> </a>
  <% else %>
    <a href= "/events/<%=event.id%>/create"><%= event.title %> </a>
  <% end %>
<% end %>
