<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/atomic.css">
  <link rel="stylesheet" href="/css/trg.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <script src="/js/PusherChatWidget.js"></script>
  <link href="/css/pusher-chat-widget.css" rel="stylesheet" />

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <title></title>
</head>

<% if @show_nav %>
  <div class="pure-menu pure-menu-horizontal bg-gray ta-r">
      <% if current_user%>
        <a href="/user/<%=current_user.id%>" class="pure-menu-heading pure-menu-link"><%=current_user.username%></a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/events" class="pure-menu-link">Events</a></li>
          <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
      <%else%>
          <li class="pure-menu-item"><a href="/" class="pure-menu-link">Sign In</a></li>
        </ul>
      <%end%>
  </div>
<% end %>

<body>
  <%= yield %>

</body>
</html>
